.navbar-brand fw-bold {
  background: url(/assets/images/Logotipo_Blanco.png);
  background-size: 30px; /* tamaño del logo */
  padding-left: 45px; /* separa el texto del logo */
}

/* ==== ESTILOS DEL CARRUSEL ==== */
#banner {
  margin: 0;
  padding: 0;
}

/* Limitar altura del carrusel */
.carousel-item img {
  width: 100%;
  height: 70vh; /* Ajusta según lo que necesites: 60vh, 80vh, etc. */
  object-fit: cover; /* Corta la imagen sin deformarla */
  object-position: center; /* Centra el recorte */
}

/* Opcional: para que el carrusel ocupe todo el ancho */
.carousel {
  width: 100%;
  overflow: hidden;
  }